@import "tailwindcss";
@import "tw-animate-css";
@import "./themes/default.css";

.scrollbar-hidden, .no_scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar, .no_scrollbar::-webkit-scrollbar {
  display: none; /* WebKit */
}

@custom-variant dark (&: is(.dark *));

@theme {
  --default-transition-duration: 150ms;
}

@variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-none ring-0;
  }
  body {
    @apply bg-background text-foreground;
  }
}
